@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
  color: #292929;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.section {
  padding: 10rem 0;
}
.header {
  height: 7rem;
}
.phone {
  display: inline-block;
  color: #292929;
  font-weight: 900;
  height: 7rem;
  line-height: 7rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.8rem;
}
.phone:hover {
  text-decoration: none;
}
.button {
  padding: 1.6rem 4rem;
  text-transform: uppercase;
  border-radius: 0.6rem;
  border: none;
  background-color: #f7af01;
  color: #fff;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1rem;
  transition: all 1s;
}
.button-form {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  border-radius: 0.6rem;
  border: none;
  background-color: #f7af01;
  color: #fff;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.4rem;
}
.button:hover {
  cursor: pointer;
  background-color: #de9d01;
}
.button-feedback {
  max-width: 25rem;
  margin: 1rem auto;
}
.price-btm {
  margin-top: 2rem;
  text-align: right;
}
.wrap {
  display: table;
  text-align: right;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.main {
  padding: 3rem 0 3rem 0;
  background: #ffffff url(../img/bg-main.jpg) center center no-repeat;
  background-size: cover;
}
.main-title {
  text-transform: uppercase;
  margin-top: 10rem;
  color: #292929;
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  line-height: 4rem;
}
.main-subtitle {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.8rem;
  padding: 4rem 0 5rem 0;
}
.main-trigger {
  display: block;
  margin-top: 4rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.8rem;
}
.cost {
  display: inline-block;
  padding: 2rem 4rem;
  background-color: #44b513;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
}
strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
}
.main-form {
  margin-top: 10rem;
  padding: 4rem 4.5rem 3.5rem 4.5rem;
  text-align: center;
  font-family: 'ProximaNova_reg', sans-serif;
  background-color: #ffffff;
}
.main-form-input {
  display: inline-block;
  width: 100%;
  margin: 1.3rem 0;
  padding: 1.3rem 0;
  border-radius: 0.6rem;
  border: 0.1rem solid #ededed;
}
.form {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-family: 'ProximaNova_reg', sans-serif;
  color: text-color;
}
.form strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.label {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0 1.2rem;
  margin: 1.5rem 0;
  background-color: #ffffff;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.4rem;
  color: #565656;
}
.small {
  margin-top: 1rem;
  color: #292929;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.2rem;
}
.time-worc {
  margin: 3rem 3rem 0 3rem;
  font-size: 1.2rem;
  color: #292929;
}
.section-header {
  margin: 10rem 0;
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  text-align: center;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  margin-top: 6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
  margin-top: 4rem;
}
.features-img {
  height: 6rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  top: 50%;
  transform: scaleY(-50%);
}
.next {
  right: 0;
  background: url(../img/arrow/rightarrow.svg) center no-repeat;
  background-size: 70%;
}
.prev {
  left: 0;
  background: url(../img/arrow/leftarrow.svg) center no-repeat;
  background-size: 70%;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
}
.popup-header {
  margin-top: 3rem;
  margin-bottom: 0;
  font-family: 'ProximaNova_bold', sans-serif;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-form {
  margin: 0;
  padding: 0 4rem 3rem 4rem;
}
.section-price {
  background: #286c0a url("../img/price/bg-price.jpg");
  padding-bottom: 10rem;
}
.section-header-light {
  margin-top: 8rem;
}
.price {
  text-align: center;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  color: #ffffff;
}
.price-p {
  margin-top: 3rem;
  text-align: center;
  color: #ffffff;
}
.section-price-main {
  margin-top: 8rem;
}
.price-block {
  min-height: 40rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
  text-align: center;
}
.price-block h4 {
  padding: 4rem 0;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.8rem;
}
.price-block img {
  display: inline-block;
  width: 100%;
  max-width: 27rem;
}
.span-price {
  display: block;
  font-family: 'ProximaNova_bold', sans-serif;
  padding: 3rem 0;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 12rem;
  font-size: 1.4rem;
}
.price-list li::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/price/checked.svg") no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.section-feedback {
  position: relative;
  background: #ffffff url("../img/bg-feetback.jpg") no-repeat center;
  background: cover;
  padding-bottom: 10rem;
}
.feedback-slider {
  background: #ffffff;
  padding: 6rem;
}
.prev-feedback {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -3rem;
  width: 3rem;
  height: 4rem;
  background-color: #44b513;
  border: none;
}
.prev-feedback img {
  width: 70%;
}
.next-feedback {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3rem;
  width: 3rem;
  height: 4rem;
  background-color: #44b513;
  border: none;
}
.next-feedback img {
  width: 70%;
}
.col-md-6 strong {
  font-size: 1.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.col-md-6 p {
  font-size: 1.6rem;
}
.media {
  margin-top: 4rem;
}
.media p {
  margin-top: 2rem;
  padding: 2rem;
  border: 0.2rem solid #44b513;
  font-style: italic;
}
.feedback-text {
  position: relative;
}
.feedback-text::before {
  content: "";
  position: absolute;
  display: block;
  left: 5rem;
  top: -1.8rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 0.2rem solid #44b513;
  border-bottom: none;
  border-top-right-radius: 2rem;
}
.section-feedback-form {
  background-color: #ffffff;
  margin-top: 5rem;
  padding: 4rem 10rem;
  text-align: center;
}
.section-feedback-form h3 {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.hand {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 28%;
}
.scheme {
  background: url("../img/bg-scheme.jpg") no-repeat bottom right -5rem;
  background-size: 50%;
  padding-bottom: 10rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block img {
  min-height: 10rem;
}
.scheme-block h3 {
  padding: 3rem 0 1rem 0;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.scheme .section-header-scheme {
  text-align: center;
}
.scheme .section-header-scheme h2 {
  margin-top: 10rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.scheme .section-header-scheme p {
  padding: 2.5rem 0;
  font-size: 1.4rem;
}
.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive .section-header-active {
  text-align: center;
}
.all-inclusive .section-header-active h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  color: #44b513;
}
.all-inclusive .section-header-active p {
  font-size: 1.4rem;
  padding: 2rem 0 8rem 0;
}
.all-inclusive .media {
  min-height: 10rem;
}
.all-inclusive .media .circle {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #44b513;
  border-radius: 50%;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
}
.all-inclusive .media .circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid #44b513;
  text-align: center;
  line-height: 4rem;
  border-radius: 50%;
  padding: 0.3rem;
}
.all-inclusive .media-body h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 0;
}
.all-inclusive .media-body p {
  font-size: 1.3rem;
  font-style: normal;
  border: none;
  padding: 0;
  margin: 0;
}
.problem {
  position: relative;
  padding-bottom: 10rem;
}
.problem h2 {
  margin: 10rem 0 8rem 0;
  text-align: center;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.problem .bad-list {
  padding: 4rem 4rem 2.5rem 4rem;
  margin-bottom: 2rem;
  min-height: 35rem;
  border: 0.3rem solid #e8e8e8;
}
.problem .bad-list ul {
  padding: 0;
}
.problem .bad-list ul li {
  position: relative;
  margin-top: 3rem;
  padding: 0rem 0 0 0;
  padding-left: 3rem;
  list-style: none;
  font-size: 1.2rem;
}
.problem .bad-list ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url("../img/problems/problem.svg") no-repeat center;
  background-size: 70%;
}
.problem .bad-list h3 {
  margin: 0;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  color: #aaaaaa;
}
.problem .good-list {
  border: 0.3rem solid #44b513;
  padding: 4rem 4rem 2.5rem 4rem;
  min-height: 35rem;
}
.problem .good-list h3 {
  margin: 0;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.problem .good-list ul {
  padding: 0;
}
.problem .good-list ul li {
  position: relative;
  margin-top: 2rem;
  padding: 0rem 0 0 0;
  padding-left: 3rem;
  list-style: none;
  font-size: 1.2rem;
}
.problem .good-list ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url("../img/problems/checked.svg") no-repeat center;
  background-size: 80%;
}
.problem-women {
  position: absolute;
  width: 25rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.material {
  background: #ffffff url("../img/bg-material.jpg") center no-repeat;
  background-size: cover;
}
.material-block {
  position: relative;
  min-height: 33rem !important;
  text-align: center;
}
.material-block a {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  border-bottom: 0.1rem dotted #44b513;
  color: #44b513;
}
.material-block a:hover {
  color: #33870e;
}
.material-block img {
  min-height: 20rem;
  margin: 0 auto;
}
.material-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.material-block p {
  font-size: 1.8rem;
}
.material-block p strong {
  font-size: 1.8rem;
}
.material .section-header-material {
  margin-top: 10rem;
  text-align: center;
}
.material .section-header-material h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.material .section-header-material p {
  font-size: 1.8rem;
  padding: 3rem 0 5rem 0;
}
.material span {
  display: block;
  margin: 8rem;
  text-align: center;
  font-size: 1.8rem;
}
.material span strong {
  font-size: 1.9rem;
}
.material span .material-link {
  text-decoration: none;
  border-bottom: 0.1rem dotted #44b513;
  color: #44b513;
}
.material span .material-link:hover {
  color: #33870e;
}
.tour {
  background: #ffffff url(../img/bg-tour.jpg) center no-repeat;
  background-size: cover;
}
.tour-subtitle {
  padding: 1rem 0;
}
.tour-content {
  margin-bottom: 10rem;
}
.upsell {
  background-color: #286b0a;
  color: #ffffff;
  padding-bottom: 5rem;
}
.upsell .section-header-upsell {
  text-align: center;
  margin-top: 10rem;
}
.upsell .section-header-upsell h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.upsell .section-header-upsell p {
  font-size: 1.6rem;
  padding: 4rem 0;
}
.upsell-block {
  text-align: center;
  margin-bottom: 5rem;
}
.upsell-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.8rem;
}
.upsell-block img {
  width: 100%;
  max-width: 30rem;
}
.upsell-block .upsell-button {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.4rem;
  padding: 1rem 4rem;
}
.contacts {
  background: #ffffff url(../img/bg-contacts.jpg) center right -32rem no-repeat;
  background-size: cover;
  padding: 8rem 0;
}
.contacts h2 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.contacts p {
  padding-top: 1rem;
}
.contacts .map {
  margin-top: 2rem;
}
.contacts-form {
  margin: 0;
}
.contacts-form p {
  padding-top: 0;
}
.contacts-form-btn {
  padding: 2rem;
}
.contacts-link {
  display: inline-block;
  color: #292929;
  border-bottom: 0.1rem dotted #aaaaaa;
}
.contacts-link:hover {
  color: #000000;
  text-decoration: none;
}
.footer-block {
  padding: 3rem 0;
}
.footer .phone-mail {
  text-align: center;
}
.footer .dev-logo {
  text-align: right;
}
.footer .dev-logo p {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
}
@media (max-width: 1199px) {
  .tour {
    background: #ffffff url(../img/bg-tour.jpg) center right -15rem no-repeat;
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .title-main {
    text-align: center;
  }
  .popup-content {
    width: 40%;
  }
  .section-price {
    margin-top: 5rem;
  }
  .price-btm {
    text-align: center;
  }
  .price-block {
    margin-bottom: 2rem;
  }
  .section-feedback {
    background: #ffffff url("../img/bg-feetback.jpg") no-repeat center;
    background: 100%;
  }
  .scheme {
    text-align: center;
  }
  .problem-women {
    display: none;
  }
  .tour {
    background: none;
    background-color: #f5f5f5;
  }
  .contacts {
    background: #ffffff url(../img/bg-material.jpg) center no-repeat;
    background-size: cover;
  }
  .contacts-form {
    margin-top: 3rem;
  }
  .footer-block {
    text-align: center;
  }
  .footer .dev-logo {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-title {
    font-size: 2rem;
  }
  .popup-content {
    min-width: 30rem;
  }
  .popup-close {
    top: -1.5rem;
    right: 0rem;
    color: #292929;
  }
  .prev-feedback {
    left: 0;
  }
  .next-feedback {
    right: 0;
  }
  .section-feedback-form {
    padding: 4rem 7rem;
  }
  .scheme {
    text-align: center;
  }
  .scheme .scheme-block {
    display: block;
    text-align: center;
    min-height: 30rem;
    margin-top: 5rem;
  }
  .scheme .scheme-block h3 {
    padding: 0;
  }
  .scheme .scheme-block p {
    font-size: 1.6rem;
  }
}
